/*p{
    text-shadow: 5px 2px blue;
}*/
/*div{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    transform: translate(50px,100px);
}*/
/*div{
    width: 300px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
    transform: rotate(20deg);
}*/
/*div{
margin: 150px;
width: 200px;
height: 100px;
background-color: aquamarine;
border: 1px solid black;
transform: scale(2,3);
}*/
div{
    width: 300px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
    transform:skew(20deg,1odeg);
    
}


